body {
  background-color: #FFBF69;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: #2EC4B6;
  height: 130px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

.nav-title {
  font-size: 50px;
  margin: 0 20px;
  display: inline;
}

.nav-title a {
  text-decoration: none;
  color: white;
}

nav button {
  border: 1px solid white;
  height: 50px;
  padding: 10px;
  font-size: 25px;
  background-color: #2EC4B6;
  margin: 0 20px;
  border-radius: 10px;
}

.nav-links a, .each-transaction a {
  text-decoration: none;
  color: white;
}

.page-title {
  color: white;
  text-align: center;
}

.Transactions, .display-total, .center, .edit-form, .new-form {
  display: flex;
  justify-content: center;
}

.table-transactions {
  width: 70%;
  font-size: 25px;
  border-spacing: 10px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: #2EC4B6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

tbody {
  text-align: center;
}

.each-transaction a:hover {
  text-decoration: underline;
}

.display-total {
  color: white;
  display: inline-block;
  font-size: 35px;
  background-color: #2EC4B6;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.display-section {
  text-align: center;
}

.transaction-info, .form-center {
  width: 70%;
  background-color: #2EC4B6;
  color: white;
  display: flexbox;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section-info, input {
  width: 90%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px;
  color: white;
  outline: none;
}

input {
  color: #FF9F1C;
}

.section-title, label {
  margin-bottom: 10px;
}

label {
  display: block;
}

.info-section, .form-section {
  margin: 20px 5px;
}

.transaction-index, .info-links {
  text-align: center;
}

.info-links button, .submit-btn {
  background-color: #FFBF69;
  width: 125px;
  height: 50px;
  font-size: 20px;
  margin: 15px;
  border: 1px solid #FFBF69;
  border-radius: 10px;
  color: white
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form-center {
  text-align: center;
}

.form-center label {
  text-align: left;
  margin-left: 30px;
}

@media only screen and (max-width: 300px) {
  nav {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
  }

  .nav-title {
    font-size: 40px;
  }

  .nav-links button {
    font-size: 15px;
    margin: 10px 0px;
    display: inline-block;
    width: 80%;
  }

  .page-title {
    font-size: 20px;
  }

  td {
    font-size: 10px;
  }
  
  .transaction-info {
    background-color: purple;
    width: auto;
    border-radius: 0px;
  }

  .form-center {
    background-color: purple;
    width: 100%;
    border-radius: 0px;
  }

  .info-links button, .center button {
    width: 90%;
  }

  .center {
    display: block;
  }
}

@media only screen and (min-width: 301px) and (max-width: 850px) {
  nav {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    display: block;
    text-align: center;
  }

  .nav-title {
    font-size: 60px;
  }

  .nav-links button {
    font-size: 25px;
    margin: 10px 0px;
    display: inline-block;
    width: 80%;
  }

  .page-title {
    font-size: 30px;
  }

  td {
    font-size: 15px;
  }

  .table-transactions {
    width: 90%;
  }

  .display-total {
    width: 84%;
  }
  
  .transaction-info {
    width: auto;
    border-radius: 0px;
  }

  .form-center {
    width: 100%;
    border-radius: 0px;
  }

  .info-links button, .center button {
    width: 90%;
  }

  .center {
    display: block;
  }
}

@media only screen and (min-width: 601px) and (max-width: 819px) {
  nav {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    display: block;
    text-align: center;
  }

  .nav-title {
    font-size: 60px;
  }

  .nav-links button {
    font-size: 25px;
    margin: 10px 0px;
    display: inline-block;
    width: 80%;
  }

  .page-title {
    font-size: 30px;
  }

  td {
    font-size: 20px;
  }

  .table-transactions {
    width: 88%;
  }

  .display-total {
    width: 84%;
  }
  
  .transaction-info {
    width: 80%;
  }

  .form-center {
    width: 80%;
  }

  .info-links button, .center button {
    width: 90%;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .center .transaction-info {
    display: block;
  }

  .form-center .center {
    display: block;
  }
}